#black{
	background-color : black;
}

#red{
	background-color : red;
}

#yellow{
	background-color : yellow;
}

#blue{
    background-color : blue;
}

#darkblue{
	background-color : darkblue;
}

#darkgreen{
	background-color : green;
}

#verydarkblue{
	background-color : rgb(0, 17, 56);
}

#purple{
	background-color : purple;
}

#black2{
	background-color : black;
}