body{
    margin:0px;
    color : white;
    background-color : rgba(9, 9, 9, 0.81);
    scrollbar-color : white rgba(9, 9, 9, 0.81);
    font-family : 'Open Sans', sans-serif;
    font-size:20px;
}

h1,h2,h3,h4,h5,h6{
    font-family : 'Oswald', sans-serif;
    text-transform : uppercase;
    margin-top : 0px;
    margin-bottom : 0px;
}

.Header{
    background-color : white;
    width : 100%;
    height : 83px;
    overflow:hidden;

}

.link{
    color:black;
    float : right;
    padding : 30px 20px;
    text-decoration: none;
    font-size : 20px;
}

.sticky{
    position : fixed;
    top : 0px;
    width : 100%;
}

.logo{
    float:left;
    height : 83px;
    margin-left : 20px;
}

.title{
    font-size : 40px;
    text-align : left;
    padding-left : 200px;
}

.spacing{
    left : 0px;
    right : 0px;
    height : 100px;
}

.intro{
    padding-left : 200px;
    width : 40%;
}

.socials{
    padding-left : 200px;
    padding-top : 50px;
}

.social_icon{
    height : 100px;
    width : 100px;
    margin-right : 50px;
}

.footer{
    color : white;
    height : 50px;
    width : 100%;
    bottom : 0px;
    position : fixed;
}

.mini{
    bottom : 0;
    font-size : 13px;
    opacity : 80%;
    font-style: italic;
    margin : 10px;
}